<div class="container">
    <div class="row mt-5 mb-5 w-25">
        <label for="categoriesDDL">Type of activity: </label>
        <select id="categoriesDDL" (change)="onSelectCat($event)">
            <option value="">Select one...</option>
            <option *ngFor="let category of categories">
                {{category}}
            </option>
        </select>

        <div class="row mt-5">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Category</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody *ngIf="matchingActivities.length > 0; else noCats">
                    <tr *ngFor="let act of matchingActivities">
                        <td>{{act.category}}</td>
                        <td>{{act.id}}</td>
                        <td>{{act.name}}</td>
                        <td>{{act.description}}</td>
                        <td>{{act.location}}</td>
                        <td>{{act.price}}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noCats>
                No sayings available
            </ng-template>
        </div>
    </div>
</div>