<div class="container">
  <div class="row mt-5 mb-5 w-50">
    <div class="col col-3">
      <label for="categoriesDDL">Saying: </label>
      <select id="categoriesDDL" (change)="onSelectCat($event)">
        <option value="">Select one...</option>
        <option *ngFor="let category of categories">
          {{category}}
        </option>
      </select>
    </div>
    <div class="col col-3 ">
      <label>Name:</label>
      <input type="text" name="name" #name>
      <button (click)="onPersonClicked(name.value)">Look Up Person</button>
    </div>
  </div>
</div>

<div class="row mt-5 ms-5">
  <table class="table table-bordered w-50">
    <thead class="thead-dark">
      <tr>
        <th>Category</th>
        <th>Saying</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody *ngIf="match.length > 0; else noCats">
      <tr *ngFor="let act of match">
        <td>{{act.category}}</td>
        <td>{{act.quote}}</td>
        <td>{{act.name}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noCats>
    No sayings available
  </ng-template>
</div>