<h3 class="ms-2">Home</h3>
<!--  <div class="msg-div">
    <P class="under-construction">{{messsage}}</P>
</div> -->

<div class="row p-3">
    <P class="intro">{{intro}}</P>
    <P class="details">{{details}}</P>
    <P class="conclusion">{{conclusion}}</P>
</div>