.under-construction {    
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;   
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;}

.msg-div {    
    margin:auto;
    width: 250px;
    border-style: ridge;
    border-width: 20px;
}
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
