
  <header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <div class="container-fluid">        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarDark">
          <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active"
              >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/products" routerLinkActive="active"
              >Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact-us"  tabindex="-1" routerLinkActive="active"
              >Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/user-input"  routerLinkActive="active"
              >User Input</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/word-counter"  routerLinkActive="active"
              >Word Counter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/math-calculator"  routerLinkActive="active"
              >Math Calculator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/outdoor-activities"  routerLinkActive="active"
              >OutDoor Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/books"  routerLinkActive="active"
              >Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/form-exercise"  routerLinkActive="active"
              >Form Exercise</a>
            </li>
          </ul>          
        </div>
      </div>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>

  </footer>

