<h3>Contact Us</h3>
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="row p-3">
        <P class="empname">{{employeeName}}</P>
        <P class="email">{{employeeEmail}}</P>
        <P class="empPhone">{{employeePhone}}</P>
    </div>
</div>