<div class="row mt-5 ms-2">
    <table class="table table-bordered w-50">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let bk of Books">
                <td>{{bk.title}}</td>
                <td>{{bk.author}}</td>
                <td>{{bk.isbn}}</td>                
            </tr>
        </tbody>
    </table>