<h1>Todays Menu</h1>

<div class="btn-group" role="group">
    <div *ngFor="let items of menuItems">
        <button class="btn btn-light" (click)="Listitem(items.id.toString())">{{ items.name }}
            {{ items.description }} {{ items.price }}</button>
    </div>
</div>