<h2 class="ms-2">Enter Contacts</h2>
<form class="ms-2 mt-4" (submit)="onSubmit()">
    <div class="row">
        <div class="col col-2">
            <label>Name:</label>
            <input type="text" name="name" [(ngModel)]="newContacts.name" #name="ngModel" required minlength="4">
        </div>
        <div class="col col-2   ">
            <label>Email:</label>
            <input type="text" name="email" [(ngModel)]="newContacts.email" #email="ngModel" required>
        </div>
        <div class="col col-2">
            <label>Phone:</label>
            <input type="text" name="phone" [(ngModel)]="newContacts.phone" #phone="ngModel" required>
            <button type="submit">Save</button>
        </div>
        <div class="row">
            <div class="col col-2">
                <div class="ms-5" *ngIf="name.errors != null && name.errors['required']">
                    Name is required.
                </div>
                <div *ngIf="name.errors != null && name.errors['minlength']">
                    Name needs to be 4 characters
                </div>
            </div>
            <div class="col col-2">
                <div class="ms-5" *ngIf="email.errors != null && email.errors['required']">
                    Email is required.
                </div>
            </div>
            <div class="col col-2">
                <div class="ms-5" *ngIf="phone.errors != null && phone.errors['required']">
                    Phone is required.
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row mt-5 ms-2">
    <table class="table table-bordered w-50">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bk of Contacts">
                <td>{{bk.name}}</td>
                <td>{{bk.email}}</td>
                <td>{{bk.phone}}</td>
            </tr>
        </tbody>
    </table>


    <!-- <input type="text" name="name" [(ngModel)]="Contacts.name"
#name="ngModel" required >
<div *ngIf="name.invalid && (name.dirty || name.touched)">
<div *ngIf="name.errors?.required">
Name is required.
</div>
<div *ngIf="name.errors?.minlength">
Name must be at least 4 characters long.
</div>
</div>
 -->