<p>to-dos works!</p>

<div class="row mt-5 ms-5">
    <table class="table table-bordered w-50">
      <thead class="thead-dark">
        <tr>
          <th>User Id</th>
          <th>ID</th>
          <th>Title</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let act of todoArray">
          <td>{{act.userId}}</td>
          <td>{{act.id}}</td>
          <td>{{act.title}}</td>
          <td>{{act.completed}}</td>
        </tr>
      </tbody>
    </table>
