<h3>Products</h3>
<!--  
<div class="img1">
    <img width="300" [src]="prod1ImgUrl" [alt]="prod1AltTxt">
</div>
<div class="img2">
    <img width="300" [src]="prod2ImgUrl" [alt]="prod2AltTxt">
</div>
<div class="img3">
    <img width="300" [src]="prod3ImgUrl" [alt]="prod3AltTxt">
</div>
-->
<div class="row row-cols-1 row-cols-sm-3 g-3 mx-2 mb-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2006 Honda TRX450R</h5>
                <p class="card-text">sjdsjksd</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
                <img width="300" [src]="prod1ImgUrl" [alt]="prod1AltTxt">
            </div>
            <div class="card-footer text-muted">
                $8,999
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2008 Yamaha YFZ450R</h5>
                <p class="card-text">sjdsjksd</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
                <img width="300" [src]="prod2ImgUrl" [alt]="prod2AltTxt">
            </div>
            <div class="card-footer text-muted">
                $9,999
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2012 Yamaha YFZ450R</h5>
                <p class="card-text">sjdsjksd</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
                <img width="300" [src]="prod3ImgUrl" [alt]="prod3AltTxt">
            </div>
            <div class="card-footer text-muted">
                $10,999
            </div>
        </div>
    </div>
</div>