<p>users works!</p>

<div class="row mt-5 ms-5">
    <table class="table table-bordered w-50">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>UserName</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Website</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let act of UserArray">
          <td>{{act.id}}</td>
          <td>{{act.name}}</td>
          <td>{{act.username}}</td>
          <td>{{act.email}}</td>
          <td>{{act.phone}}</td>
          <td>{{act.website}}</td>
          <td>{{act.address.city}}</td>           
        </tr>
      </tbody>
    </table>
