<h1>Welcome to {{title}}</h1>
<h4>Today is {{today}}</h4>
<br>
<p>{{msg}}</p>

<app-item-list [items]="items" [filterText]="filterText"
[sortField]="sortField" [sortOrder]="sortOrder"></app-item-list>


  