<h2 class="d-flex justify-content-center">{{title}}</h2>
<div class="container">
    <div class="form-group">
        <label for="firstName">Enter Text To Be Counted</label>
        <input type="text" class="form-control" id="textEntered" name="textEntered" placeholder="ie"
            [(ngModel)]="textEntered" />
    </div>
</div>
<br>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <td>You Entered:</td>
            <td>{{textEntered}}</td>
        </tr>
        <tr>
            <td>Word Count:</td>
            <td>{{words}}</td>
        </tr>
    </table>
    <div class="form-group d-flex justify-content-left ">
        <button class="btn btn-dark" (click)="countWords()">Count Words</button>

    </div>
</div>