.calc-cont{
    height: 300px;
    border-style:solid;    
    border-color: black;      
}
h2{
    text-align: center;
}
.answer-box{
    text-align: center;
}
.ans{
    color: blue;
    font-size: 50px;
}
#operand1{
    
    border-style: groove;
    border-width: 4px;
}
#operand2{
    
    border-style: groove;
    border-width: 4px;
}
