<h2 class="mt-4">Math Calculator</h2>

<div class="main-cont w-100 d-flex justify-content-left">
    <div class="calc-cont  w-25">
        <div class="form-group ">
            <label for="operand1">Operand 1: </label>
            <input type="number" class="form-control" id="operand1" name="operand1" placeholder=0
                [(ngModel)]="operand1" />
            <label for="0Operand2">Operand 2: </label>
            <input type="number" class="form-control" id="operand2" name="operand2" placeholder=0
                [(ngModel)]="operand2" />
        </div>
        <div class="form-group mt-4 btn-group d-flex justify-content-center" >
            <button class="btn btn-dark" (click)="onAddClicked()">Add</button>
            <button class="btn btn-dark" (click)="onSubtractClicked()">Subtract</button>
            <button class="btn btn-dark" (click)="onMultiplyClicked()">Multiply</button>
            <button class="btn btn-dark" (click)="onDivideClicked()">Divide</button>
            <button class="btn btn-dark" (click)="onClearClicked()">Clear</button>
        </div>
        <div class="answer-box mt-2" *ngIf="answerIsAvailable">
             <div class="ans" >{{answer}}</div>
        </div>
    </div>
</div>