<h1 class="ms-2">Counter</h1>

<div class="container ms-2">
    <p>{{count}}</p>
    <button class="btn btn-dark ms-1 " (click)="increment()">+</button>
    <button class="btn btn-primary " (click)="decrement()">-</button>
</div>