.container {
    float: left;
    width: 150px;
    border-style: groove;
    border-width: 20px;
    Border-color: #05a100
}

p {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}